version: '3.8'

services:
  nginx-proxy:
    image: nginx:alpine
    ports:
      - "8081:8081"
      - "8087:8087"
    volumes:
      - /home/vagrant/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app_default

networks:
  app_default:
    external: true